.fsvideo-video, .fsvideo-placeholder {
    -webkit-transition: none;
    transition: none;
    min-width: 100%;
    min-height: 100%;
    max-width: inherit;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}